In [1]:
import numpy as np

In [2]:
nom = ["tata", "toto", "tutu", "titi"]
prenom = ["zaza", "mimi", "lolo", "lilo"]
age = [14, 89, 56, np.random.random()]
fctions = [np.max, np.min, np.median, np.mean]
for ind, (a,b,c,f) in enumerate(zip(nom, prenom, age, fctions)):
    print(ind, " - ", a, " - ", b, " - ", c, " - ", f(age))

0  -  tata  -  zaza  -  14  -  89.0
1  -  toto  -  mimi  -  89  -  0.7736160875119462
2  -  tutu  -  lolo  -  56  -  35.0
3  -  titi  -  lilo  -  0.7736160875119462  -  39.94340402187799

In [3]:
np.linspace(1, 10, 10)

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10.])

In [4]:
numbers = input("Entrer un nombre")
numbers = numbers.split(",")
pair = []
for number in numbers:
    number = int(number)
    if number%2 == 0:
        pair.append(number)
pair

[4]

In [5]:
sum(range(5), 6)

16

In [6]:
table_2d = np.random.random(size=(8,2))
table_2d

array([[0.60051437, 0.5555657 ],
       [0.72470125, 0.127123  ],
       [0.47497208, 0.92891243],
       [0.10226803, 0.91647836],
       [0.69527477, 0.03779723],
       [0.51678425, 0.88884354],
       [0.51224959, 0.4913012 ],
       [0.32703411, 0.44724084]])

In [7]:
table_2d.flatten()

array([0.60051437, 0.5555657 , 0.72470125, 0.127123  , 0.47497208,
       0.92891243, 0.10226803, 0.91647836, 0.69527477, 0.03779723,
       0.51678425, 0.88884354, 0.51224959, 0.4913012 , 0.32703411,
       0.44724084])

In [8]:
calculs = {
    "max": np.max,
    "min": np.min,
    "mean": np.mean
}

In [9]:
a = [4, 8, 6, 7, 0]

In [10]:
liste = list(map(lambda x:x*x, a))
liste

[16, 64, 36, 49, 0]

In [11]:
a = 7
b= 0

In [12]:
try:
    division = int(a) / b
    print(division)
except(ZeroDivisionError) as e:
    print(e)
except(ValueError) as e:
    print(e)
except(TypeError) as e:
    print("erreur", e)
finally:
    print('Merci')

division by zero
Merci

In [13]:
# x = 5.2
# if not type(x) is int:
#     raise TypeError("ça n'est pas un entier")

In [14]:
import random

In [15]:
def creer_groupe(liste_noms, taille_groupes):
    '''
    Cette fonction prend en entrée une liste de noms, une taille de groupe 
    et classe les noms dans un dictionnaire pour former des groupes de la taille indiquée, si le 
    nombre de personnes n'est pas un multiple de la taille du groupe, les personnes
    restantes forment un dernier groupe plus petit.

    Args:
        liste_noms: liste de noms .
        taille_groupes: taille des groupes souhaitées.

    Returns:
        Dictionnaire contenant les groupes formés.
    '''
    groupes = {}
    numero_groupe = 0
    if len(liste_noms)%taille_groupes == 0:
        nombre_groupes = len(liste_noms)/taille_groupes
        for nombre_groupe in range(nombre_groupes):
            liste_groupe = []
            numero_groupe += 1
            for nom in range(taille_groupes):
                nom_choisi = random.choice(liste_noms)
                indice = -1
                for i, n in enumerate(liste_noms):
                    if n == nom_choisi:
                        indice = i
                liste_groupe.append(nom_choisi)
                liste_noms = np.delete(liste_noms, indice)
            groupes[f"groupe {numero_groupe}"] = liste_groupe
    else:
        nombre_groupes = int(len(liste_noms)/taille_groupes) 
        for nombre_groupe in range(nombre_groupes):
            liste_groupe = []
            numero_groupe += 1
            for nom in range(taille_groupes):
                nom_choisi = random.choice(liste_noms)
                indice = -1
                for i, n in enumerate(liste_noms):
                    if n == nom_choisi:
                        indice = i
                liste_groupe.append(nom_choisi)
                liste_noms = np.delete(liste_noms, indice)
            groupes[f"groupe {numero_groupe}"] = liste_groupe
        liste_groupe = []
        numero_groupe += 1
        for nom in liste_noms:
            liste_groupe.append(nom)
        groupes[f"groupe {numero_groupe}"] = liste_groupe
    return groupes

In [16]:
eleves = [
    "arthur",
    "pierre",
    "marvin",
    "max",
    "charlotte",
    "abdessamed",
    "fabien",
    "lionel",
    "boris",
    "cédric",
    "jonathan",
    "joachim",
    "mhoudini",
    "ilham",
    "salah",
    "aldrin"
]

In [17]:
creer_groupe(eleves, 9)

{'groupe 1': ['charlotte',
  'salah',
  'fabien',
  'joachim',
  'lionel',
  'arthur',
  'jonathan',
  'abdessamed',
  'cédric'],
 'groupe 2': ['pierre',
  'marvin',
  'max',
  'boris',
  'mhoudini',
  'ilham',
  'aldrin']}

Numpy random
Faire un générateur de nombre aléatoire pour le loto et l'euromillion. Attention c’est un tirage aléatoire sans remise (c.a.d que la boule trouvée n’est pas remise en jeu) et tous les chiffres ont la même probabilité d’apparaître.

Reprenez l’exercice 16 et faites en sorte que le nombre à trouver soit aléatoire et compris entre 1 et 1000: 
“Écrivez un programme qui demande à l'utilisateur de deviner un nombre secret (par exemple 42). Le programme indique à l'utilisateur si le nombre à deviner est plus grand ou plus petit que sa proposition et continue de demander un nombre tant que l'utilisateur ne trouve pas le nombre secret. Une fois que l'utilisateur trouve le nombre secret, affichez un message de félicitations.”

In [18]:
import numpy as np

In [19]:
def generateur_nombre_loto():
    liste_tirage = {}
    for nb_tirage in range(1, 101):
        nombres_49 = np.array(range(1,50))
        nombre_10 = np.array(range(1, 11))
        liste_nombre = []
        for i in range(5):
            nombre_choisit = np.random.choice(nombres_49)
            liste_nombre.append(nombre_choisit)
            for index, nombre in enumerate(nombres_49):
                if nombre == nombre_choisit:
                    np.delete(nombres_49, index)
        nombre_choisit = np.random.choice(nombre_10)
        liste_nombre.append(nombre_choisit)
        liste_tirage[f"Tirage numéro {nb_tirage}"] = liste_nombre
    return liste_tirage

In [20]:
generateur_nombre_loto()

{'Tirage numéro 1': [9, 22, 40, 36, 49, 9],
 'Tirage numéro 2': [46, 38, 19, 13, 10, 9],
 'Tirage numéro 3': [40, 24, 21, 43, 27, 4],
 'Tirage numéro 4': [18, 13, 25, 23, 39, 7],
 'Tirage numéro 5': [19, 5, 45, 20, 33, 6],
 'Tirage numéro 6': [22, 33, 42, 3, 46, 3],
 'Tirage numéro 7': [42, 42, 23, 29, 14, 8],
 'Tirage numéro 8': [7, 2, 49, 2, 33, 4],
 'Tirage numéro 9': [45, 36, 22, 38, 34, 3],
 'Tirage numéro 10': [7, 24, 22, 13, 46, 1],
 'Tirage numéro 11': [41, 38, 17, 40, 43, 9],
 'Tirage numéro 12': [36, 47, 5, 39, 17, 7],
 'Tirage numéro 13': [23, 44, 38, 15, 27, 4],
 'Tirage numéro 14': [43, 1, 10, 35, 22, 7],
 'Tirage numéro 15': [22, 27, 18, 14, 1, 1],
 'Tirage numéro 16': [22, 36, 43, 26, 43, 6],
 'Tirage numéro 17': [22, 34, 6, 35, 7, 6],
 'Tirage numéro 18': [11, 10, 38, 27, 49, 2],
 'Tirage numéro 19': [41, 9, 40, 28, 7, 7],
 'Tirage numéro 20': [4, 19, 25, 5, 40, 2],
 'Tirage numéro 21': [33, 17, 4, 27, 22, 9],
 'Tirage numéro 22': [16, 39, 18, 33, 1, 4],
 'Tirage numéro 23': [19, 19, 5, 25, 36, 7],
 'Tirage numéro 24': [45, 8, 25, 37, 6, 1],
 'Tirage numéro 25': [44, 40, 32, 37, 28, 4],
 'Tirage numéro 26': [9, 4, 36, 10, 3, 4],
 'Tirage numéro 27': [19, 16, 16, 28, 6, 7],
 'Tirage numéro 28': [17, 30, 12, 48, 48, 2],
 'Tirage numéro 29': [38, 35, 36, 32, 8, 10],
 'Tirage numéro 30': [25, 27, 12, 20, 27, 8],
 'Tirage numéro 31': [1, 4, 17, 49, 29, 10],
 'Tirage numéro 32': [13, 26, 48, 7, 6, 6],
 'Tirage numéro 33': [2, 41, 30, 11, 35, 7],
 'Tirage numéro 34': [11, 6, 35, 36, 12, 2],
 'Tirage numéro 35': [22, 34, 45, 20, 20, 6],
 'Tirage numéro 36': [2, 37, 48, 47, 31, 6],
 'Tirage numéro 37': [31, 37, 33, 42, 18, 1],
 'Tirage numéro 38': [34, 18, 37, 1, 14, 5],
 'Tirage numéro 39': [18, 49, 46, 45, 22, 9],
 'Tirage numéro 40': [36, 8, 29, 32, 6, 3],
 'Tirage numéro 41': [36, 20, 46, 13, 24, 9],
 'Tirage numéro 42': [33, 26, 42, 42, 45, 5],
 'Tirage numéro 43': [4, 48, 29, 36, 25, 9],
 'Tirage numéro 44': [42, 44, 37, 34, 15, 8],
 'Tirage numéro 45': [21, 37, 38, 9, 25, 9],
 'Tirage numéro 46': [34, 49, 7, 47, 43, 8],
 'Tirage numéro 47': [11, 44, 19, 47, 20, 1],
 'Tirage numéro 48': [32, 25, 10, 6, 13, 6],
 'Tirage numéro 49': [45, 3, 23, 42, 31, 8],
 'Tirage numéro 50': [17, 44, 5, 1, 11, 3],
 'Tirage numéro 51': [21, 16, 11, 15, 42, 7],
 'Tirage numéro 52': [34, 27, 12, 29, 20, 4],
 'Tirage numéro 53': [9, 34, 35, 43, 38, 6],
 'Tirage numéro 54': [31, 31, 20, 30, 11, 5],
 'Tirage numéro 55': [19, 23, 32, 28, 20, 9],
 'Tirage numéro 56': [11, 7, 16, 14, 12, 10],
 'Tirage numéro 57': [30, 41, 39, 33, 46, 10],
 'Tirage numéro 58': [47, 7, 46, 4, 16, 2],
 'Tirage numéro 59': [1, 7, 47, 30, 39, 3],
 'Tirage numéro 60': [40, 43, 40, 16, 18, 2],
 'Tirage numéro 61': [2, 10, 22, 6, 5, 9],
 'Tirage numéro 62': [7, 2, 45, 49, 44, 2],
 'Tirage numéro 63': [20, 21, 1, 12, 28, 10],
 'Tirage numéro 64': [22, 18, 23, 6, 32, 8],
 'Tirage numéro 65': [28, 20, 35, 47, 11, 6],
 'Tirage numéro 66': [29, 25, 49, 18, 14, 6],
 'Tirage numéro 67': [1, 21, 19, 10, 19, 2],
 'Tirage numéro 68': [44, 24, 48, 17, 35, 2],
 'Tirage numéro 69': [6, 40, 13, 48, 45, 6],
 'Tirage numéro 70': [15, 48, 31, 37, 11, 5],
 'Tirage numéro 71': [47, 33, 9, 20, 45, 6],
 'Tirage numéro 72': [17, 31, 3, 35, 26, 7],
 'Tirage numéro 73': [17, 40, 37, 45, 24, 6],
 'Tirage numéro 74': [27, 42, 9, 30, 20, 4],
 'Tirage numéro 75': [38, 9, 5, 43, 22, 3],
 'Tirage numéro 76': [16, 27, 35, 34, 21, 7],
 'Tirage numéro 77': [17, 18, 12, 4, 30, 9],
 'Tirage numéro 78': [48, 36, 1, 45, 43, 4],
 'Tirage numéro 79': [10, 42, 44, 17, 29, 8],
 'Tirage numéro 80': [24, 6, 20, 12, 40, 3],
 'Tirage numéro 81': [10, 42, 34, 10, 38, 7],
 'Tirage numéro 82': [46, 23, 5, 8, 47, 4],
 'Tirage numéro 83': [37, 2, 26, 49, 44, 6],
 'Tirage numéro 84': [1, 23, 15, 22, 8, 10],
 'Tirage numéro 85': [39, 9, 36, 23, 20, 3],
 'Tirage numéro 86': [2, 39, 16, 45, 37, 3],
 'Tirage numéro 87': [35, 14, 37, 23, 33, 7],
 'Tirage numéro 88': [48, 12, 34, 1, 38, 2],
 'Tirage numéro 89': [36, 19, 26, 29, 41, 5],
 'Tirage numéro 90': [49, 7, 9, 15, 42, 1],
 'Tirage numéro 91': [17, 27, 46, 32, 33, 3],
 'Tirage numéro 92': [29, 40, 40, 7, 34, 9],
 'Tirage numéro 93': [40, 10, 29, 48, 37, 6],
 'Tirage numéro 94': [1, 49, 5, 33, 7, 4],
 'Tirage numéro 95': [13, 16, 4, 17, 23, 5],
 'Tirage numéro 96': [9, 30, 44, 38, 1, 4],
 'Tirage numéro 97': [35, 23, 8, 45, 30, 3],
 'Tirage numéro 98': [26, 2, 41, 38, 21, 1],
 'Tirage numéro 99': [26, 30, 8, 8, 39, 2],
 'Tirage numéro 100': [44, 22, 13, 3, 4, 7]}

In [21]:
def generateur_nombre_euromillions():
    nombres_49 = np.array(range(1,50))
    nombre_12 = np.array(range(1, 13))
    liste_nombre = []
    for i in range(5):
        nombre_choisit = np.random.choice(nombres_49)
        liste_nombre.append(nombre_choisit)
        for index, nombre in enumerate(nombres_49):
            if nombre == nombre_choisit:
                np.delete(nombres_49, index)
    for i in range(2):
        nombre_choisit = np.random.choice(nombre_12)
        liste_nombre.append(nombre_choisit)
        for index, nombre in enumerate(nombres_49):
            if nombre == nombre_choisit:
                np.delete(nombres_49, index)
    return liste_nombre

In [22]:
generateur_nombre_euromillions()

[48, 9, 11, 7, 46, 5, 8]

In [23]:
def creer_groupe(liste_noms, taille_groupes):
    '''
    Cette fonction prend en entrée une liste de noms, une taille de groupe 
    et classe les noms dans un dictionnaire pour former des groupes de la taille indiquée, si le 
    nombre de personnes n'est pas un multiple de la taille du groupe, les personnes
    restantes forment un dernier groupe plus petit.

    Args:
        liste_noms: liste de noms .
        taille_groupes: taille des groupes souhaitées.

    Returns:
        Dictionnaire contenant les groupes formés.
    '''
    groupes = {}
    numero_groupe = 0
    a = 0
    nombre_groupes = int(len(liste_noms)/taille_groupes) 
    np.random.shuffle(liste_noms)
    for nombre_groupe in range(nombre_groupes):
        numero_groupe += 1
        groupes[f"groupe {numero_groupe}"] =  liste_noms[a:a + taille_groupes]
        a += taille_groupes
    if len(liste_noms)%taille_groupes != 0:
        numero_groupe += 1
        groupes[f"groupe {numero_groupe}"] =  liste_noms[a:]
    return groupes

In [26]:
creer_groupe(eleves, 4)

{'groupe 1': ['max', 'pierre', 'arthur', 'lionel'],
 'groupe 2': ['aldrin', 'jonathan', 'joachim', 'cédric'],
 'groupe 3': ['ilham', 'charlotte', 'boris', 'abdessamed'],
 'groupe 4': ['marvin', 'fabien', 'mhoudini', 'salah']}