In [1]:
import pandas as pd

In [3]:
Commandes = pd.read_csv("Commandes.csv")
Commandes.head()

,ID,ID_Client,Nom_Client,Prenom_Client,Adresse_Client,Ville_Client,Pays_Client,Email_Client,ID_Commande,Date_Commande,Montant_Commande,ID_Produit,Nom_Produit,Categorie_Produit,Adresse_Magasin,Ville_Magasin,Pays_Magasin
0,1,1,Dupont,Jean,123 Rue de la Paix,Paris,France,jean.dupont@email.com,101,2023-01-15,250.0,501,Produit_A,Electronique,456 Rue des Magasins,Paris,France
1,2,2,Martin,Marie,456 Avenue des Roses,Lyon,France,marie.martin@email.com,102,2023-02-20,150.0,502,Produit_B,Mode,789 Rue des Boutiques,Lyon,France
2,3,1,Dupont,Jean,123 Rue de la Paix,Paris,France,jean.dupont@email.com,103,2023-03-10,300.0,501,Produit_A,Electronique,123 Magasin Central,Paris,France
3,4,3,Leclerc,Pierre,789 Boulevard du Commerce,Marseille,France,pierre.leclerc@email.com,104,2023-04-05,50.0,503,Produit_C,Maison,456 Magasin Super,Marseille,France
4,5,2,Martin,Marie,456 Avenue des Roses,Lyon,France,marie.martin@email.com,105,2023-05-12,200.0,504,Produit_D,Mode,789 Magasin Mode,Lyon,France

In [4]:
Commandes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  50 non-null     int64
 1    ID_Client          50 non-null     int64
 2    Nom_Client         50 non-null     object
 3    Prenom_Client      50 non-null     object
 4    Adresse_Client     50 non-null     object
 5    Ville_Client       50 non-null     object
 6    Pays_Client        50 non-null     object
 7    Email_Client       50 non-null     object
 8    ID_Commande        50 non-null     int64
 9    Date_Commande      50 non-null     object
 10   Montant_Commande   50 non-null     float64
 11   ID_Produit         50 non-null     int64
 12   Nom_Produit        50 non-null     object
 13   Categorie_Produit  50 non-null     object
 14   Adresse_Magasin    50 non-null     object
 15   Ville_Magasin      50 non-null     object
 16   Pays_Magasin       50 non-null     object
dtypes: float64(1), int64(4), object(12)
memory usage: 6.8+ KB

In [5]:
Commandes.shape

(50, 17)

2178

8712