In [3]:
pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\anaconda3\lib\site-packages (8.1.0)
Requirement already satisfied: protobuf<=4.21.12,>=4.21.1 in c:\users\user\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.12)
Note: you may need to restart the kernel to use updated packages.

In [4]:
import mysql.connector

# Remplacez les valeurs suivantes par les informations de connexion à votre serveur MySQL
host = "localhost" # L'hôte du serveur MySQL
user = "root"  # Votre nom d'utilisateur MySQL
password = "root"  # Votre mot de passe MySQL
database_name = "courses"  # Le nom de la nouvelle base de données

# Créez une connexion au serveur MySQL
conn = mysql.connector.connect(
    host=host,
    user=user,
    password=password
)

# Créez un curseur pour exécuter des requêtes SQL
cursor = conn.cursor()

# Utilisez le curseur pour exécuter une commande SQL de création de base de données
create_database_query = f"CREATE DATABASE {database_name}"
cursor.execute(create_database_query)

# Fermez le curseur et la connexion
cursor.close()
conn.close()

print(f"La base de données '{database_name}' a été créée avec succès.")

La base de données 'courses' a été créée avec succès.

In [5]:
# Créez une connexion à la base de données
conn = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database_name
)

# Créez un curseur pour exécuter des requêtes SQL
cursor = conn.cursor()

# Définissez la commande SQL pour créer une table
create_table_produit = """
CREATE TABLE produit (
    id INT AUTO_INCREMENT PRIMARY KEY,
    code_article INT,
    libelle_article VARCHAR(255),
    famille_article_id INT,
    condition_id INT,
    pu_ht FLOAT
)
"""

# Exécutez la commande SQL pour créer la table
cursor.execute(create_table_produit)

# Définissez la commande SQL pour créer une table
create_table_famille_article = """
CREATE TABLE famille_article (
    id INT AUTO_INCREMENT PRIMARY KEY,
    famille_produit VARCHAR(255)
)
"""

# Exécutez la commande SQL pour créer la table
cursor.execute(create_table_famille_article)

# Définissez la commande SQL pour créer une table
create_table_condition = """
CREATE TABLE conditions (
    id INT AUTO_INCREMENT PRIMARY KEY,
    contenant_produit VARCHAR(255)
)
"""

# Exécutez la commande SQL pour créer la table
cursor.execute(create_table_condition)


# Validez la création de la table
conn.commit()

# Fermez le curseur et la connexion
cursor.close()
conn.close()

print("La table 'exemple' a été créée avec succès.")

La table 'exemple' a été créée avec succès.

In [7]:
import csv

In [19]:
# Chemin vers le fichier CSV
csv_file_path = "Produits - Feuille 1.csv"

# Établir une connexion à la base de données
conn = mysql.connector.connect(
    host=host,
    user=user,
    password=password,
    database=database_name
)

# Créer un curseur pour exécuter des requêtes SQL
cursor = conn.cursor()

# Lecture du fichier CSV et insertion des données dans la table
with open(csv_file_path, "r", newline="") as csv_file:
    csv_reader = csv.reader(csv_file)
    next(csv_reader)  # Ignorer la première ligne si elle contient les en-têtes

    for row in csv_reader:
        # Insérer les données dans la table MySQL
        insert_conditions = "INSERT IGNORE INTO conditions (contenant_produit) VALUES (%s)"
        # Remplacez "nom_de_la_table" et les colonnes par les valeurs appropriées

        # Exécution de la requête d'insertion
        cursor.execute(insert_conditions, (row[3],))
    
         # Insérer les données dans la table MySQL
        insert_famille_article = "INSERT IGNORE INTO famille_article (famille_produit) VALUES (%s)"
        # Remplacez "nom_de_la_table" et les colonnes par les valeurs appropriées

        # Exécution de la requête d'insertion
        cursor.execute(insert_conditions, (row[2],))

        select_id_condition = f"SELECT id FROM conditions WHERE contenant_produit = %s"

        cursor.execute(select_id_condition, (row[3],))
    
        conditions_id = cursor.fetchone()[0]
    
        select_id_famille_article = f"SELECT id FROM famille_article WHERE famille_produit = %s"

        famille_article_id = cursor.execute(select_id_famille_article, (row[2],))
    
         # Insérer les données dans la table MySQL
        insert_produit = "INSERT INTO produit (code_article, libelle_article, famille_article_id, condition_id, pu_ht) VALUES (%s, %s, %s, %s, %s)"
        # Remplacez "nom_de_la_table" et les colonnes par les valeurs appropriées

        # Exécution de la requête d'insertion
        cursor.execute(insert_conditions, tuple(row[0],row[1],famille_article_id,conditions_id,row[4]))


# Valider les modifications dans la base de données
conn.commit()

# Fermer le curseur et la connexion
cursor.close()
conn.close()

print("Les données du fichier CSV ont été insérées avec succès dans la base de données.")

TypeError: tuple expected at most 1 argument, got 5

'c:\\Users\\User\\Desktop\\Simplon datai\\simplon_datai_2025\\2'